<br>
<div class="row">
    <div class="col-sm-6">
        <app-recipe-list (recipeWasSelected)="selectedRecipe = $event"></app-recipe-list>
    </div>
    <div class="col-sm-6">
        <app-recipe-detail *ngIf="selectedRecipe; else infoText" [recipe]="selectedRecipe" ></app-recipe-detail>
      <ng-template #infoText>
        <p>Please select a recipe !</p>
      </ng-template>
    </div>
</div>
