<div class="row">
  <div class="col-sm-12">
      <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 150px">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h2 id="recipeMger">{{recipe.name}}</h2>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" >Manage Recipe</button>
            <ul class="dropdown-menu">
                <li><a href="#">Add Ingredients to Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<hr>
<div class="row">
    <div class="col-sm-12">
      {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
       Ingredients
    </div>
</div>
