
<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12">

    <!-- [recipe] is use to bind recipe from item to list -->
    <app-recipe-item *ngFor="let recipeElmt of recipes"  [recipe]="recipeElmt" (recipeSelected)="onRecipeSelected(recipeElmt)"></app-recipe-item>
  </div>
</div>

