<div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header" #heading>{{element.name}}</div>
        <div class="card-body">
            <p>
                <strong *ngIf="element.type === 'server'" style="color: red">{{element.content}}</strong> &nbsp;
                <em *ngIf="element.type === 'blueprint'" style="color: green">{{element.content}}</em>
            </p>
        </div>
      </div>
    </div>
</div>