<div class="row">
    <div class="col-sm-8">
        <p class="shoreline">Add new server or blueprints!</p>
        <label>Server Name</label>
      <!--  <input type="text" class="form-control" [(ngModel)]="newServerName"> -->


        <!-- Local reference-->
        <input type="text" class="form-control" #serverNameInput>
        <label>Server Content</label>
        <input type="text" class="form-control" [(ngModel)]="newServerContent">
        <br>

        <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add server</button>
        <button class="btn btn-primary to-the-right" (click)="onAddBluePrint()">Add server blueprint</button>
    </div>
</div>