<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container-fluid">

    <app-recipes *ngIf="loadedFeature === 'recipe' "></app-recipes>
    <app-shopping-list *ngIf="loadedFeature !== 'recipe' " ></app-shopping-list>
</div>

