<div class="row">
    <div class="col-sm-10">
        <app-shopping-edit (ingredientsAdded)="onIngredientAdded($event)"></app-shopping-edit>
        <hr>

        <ul class="list-group">
            <a href="#" class="list-group-item"
               style="cursor: pointer" *ngFor="let ingredient of ingredients">
               Name : {{ingredient.name}} /  Amount : {{ingredient.amount}}
            </a>
        </ul>
    </div>
</div>
