<a href="#" class="list-group-item clearfix" (click)="onSelected()">
  <div class="float-left">
    <h4>{{recipe.name}}</h4>
    <p>{{recipe.description}}</p>
  </div>
  <div class="float-right">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-responsive" style="max-height: 60px">
  </div>
</a>
