/* You can add global styles to this file, and also import other style files */
.shoreline{
    font-family: "Beautiful Holiday Demo";
    font-weight: lighter;
    font-size: 2em;
    color: lightseagreen;
}

.to-the-right{
    margin-left: 2%;
}

.to-the-middle{
    margin-top: 2%;
}