<!--The content below is only a placeholder and can be replaced.-->
<div class="container to-the-middle">

    <!-- Parsing datas with childElement (cockpit) -->
  <app-cockpit
          (srvCreated)="onServerAdded($event)"
          (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>

   <!-- Binding to custom property [element] from childElement (server.component.ts) of app.component  -->
  <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement"></app-server-element>
</div>
